<span *ngIf="currentUser">
    <span class="hello-message">Hello, {{currentUser.firstName}}</span>
    <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="">
        <mat-icon>
            account_circle
        </mat-icon>
    </button>
</span>
<span *ngIf="!currentUser">
    <button mat-button [routerLink]="['/register']">Register</button>
    <!-- <button mat-stroked-button (click)="signIn()">Login</button> -->
    <button mat-stroked-button [routerLink]="['/login']">Login</button>
</span>

<mat-menu #appMenu="matMenu">
    <span *ngIf="currentUser">
        <mat-card class="mat-elevation-z0">
            <mat-card-header>
                <img mat-card-avatar src={{currentUser.profile.image}}>
                <mat-card-title>{{currentUser.profile.displayName}}</mat-card-title>
                <mat-card-subtitle>{{currentUser.username}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </span>
    <mat-divider></mat-divider>
    <button mat-menu-item>My profile</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="signOut()">Sign out</button>
  </mat-menu>
