.tasks-chart {
    max-width: 500px;
    max-height: 250px;
    padding-right: 50px;
}

.graph-description {
    margin-bottom:3px;
    font-weight: 500;
}

.graphs-container {
    padding-top: 25px;
}