<p>user works!</p>
<button (click)="getAllUsers()">Get all users from server</button>
<button (click)="printAllUsers()">Print all users</button>
<button (click)="printOneUser()">Get one user</button>
<button (click)="addUser()">Add test user</button>
<button (click)="updateUser()">Update test user</button>
<button (click)="deleteUser()">Delete test user</button>
<button (click)="login()">Login</button>
<button (click)="logout()">Logout</button>
<button (click)="showCurrentUser()">showCurrentUser</button>
<button (click)="isLoggedIn()">isLoggedIn</button>

