<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan] = "1" [rowspan] = "1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{project.name}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu_project" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu_project="matMenu" xPosition="before">
              <button mat-menu-item *ngIf="isProjectAdmin()"
                [routerLink]="['/projects', project.id, 'edit']">
                Edit
              </button>
              
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <p>
              {{project.description}}
            </p>
            <div *ngIf="admin">
              Project admin:
              <div class="admin-box">
                <div>
                    <img mat-card-avatar src="{{admin.profile.image}}">
                </div>
                <div class="admin-info">
                    <p class="thick">{{admin.profile.displayName}}</p>
                    <p>{{admin.username}}</p>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan] = "1" [rowspan] = "2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Participants
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu_participants" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu_participants="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>      
            <span *ngIf="participants.length === 0">
              <p>
                This project has no participants yet.
              </p>
            </span>
            <app-user-avatar-list
              [listOfUsers]="participants">
            </app-user-avatar-list>
        </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan] = "1" [rowspan] = "1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Sprints
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu_sprints" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu_sprints="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <div *ngIf="sprints.length === 0"> There are no sprints in this project yet.</div>
            <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
              <mat-chip *ngFor="let sprint of sprints | slice:0:5; index as i" 
                selected
                [color]="i==0 ? 'primary' : 'accent'">
                <a class="sprint-link" [routerLink]="['sprints/' + sprint.id]">
                  {{i+1}}. {{sprint.startDate}} - {{sprint.endDate}}
                </a>
              </mat-chip>
            </mat-chip-list>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>