
.admin-info {
    margin-left: 10px;
}

.admin-info > p {
    margin: 0px;
}

p.thick {
    font-size: 16px;
    font-weight: 500;
}

.admin-box {
    display: flex;
    margin-top: 10px;
}

.grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: left;
  }

  .mat-chip {
    max-width: 200px;
  }

  .sprint-link {
      color: inherit;
      text-decoration: none;
  }
  
