<mat-card class="user-register-card">
    <!-- <mat-card-header> -->
        <div class="card-header">
            <mat-card-title>Place holder for a picture?</mat-card-title>
            <mat-card-subtitle>Register new user on ProjectM</mat-card-subtitle>
        </div>
    <!-- </mat-card-header> -->
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content class="mat-container">
    
        <form novalidate
            class="form-container"
            (ngSubmit)="registerUser()"
            [formGroup] ="registerUserForm">
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Username</mat-label>
                <input matInput 
                    [type]="'text'"
                    formControlName="username">
            </mat-form-field>

            <mat-form-field appearance="outline" color="accent">
                <mat-label>Email address</mat-label>
                <input matInput
                    [type]="'email'"
                    formControlName="email">
                    <mat-error *ngIf="registerUserForm.get('email').errors">Not a valid email</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" color="accent">
                <mat-label>First name</mat-label>
                <input matInput 
                    [type]="'text'"
                    formControlName="firstName">
            </mat-form-field>

            <mat-form-field appearance="outline" color="accent">
                <mat-label>Last name</mat-label>
                <input matInput 
                    [type]="'text'"
                    formControlName="lastName">
            </mat-form-field>

            <div formGroupName="passwordGroup">    
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>Password</mat-label>
                    <input matInput
                        [type]="'password'"
                        formControlName="password">
                </mat-form-field>

                <mat-form-field appearance="outline" color="accent">
                    <mat-label>Confirm password</mat-label>
                    <input matInput [errorStateMatcher]="matcher"
                        [type]="'password'"
                        formControlName="confirmPassword">
                        <mat-error *ngIf="registerUserForm.get('passwordGroup').invalid">Password doesn't match</mat-error>
                </mat-form-field>
            </div>

            <div class="form-invalid-warning" 
                *ngIf="validationErrors">
                Please check your data. Fields marked red are mandatory.
            </div>

            <button mat-button
            type="submit"
            [disabled]="registerUserForm.pristine">
            REGISTER
            </button>
            <button mat-button
            (click)="cancel()">
            CANCEL
            </button>
        </form>
    </mat-card-content>
</mat-card>