<div class="container">   
    <form novalidate
    class="form-container"
    (ngSubmit)="submitTaskForm()"
    [formGroup] ="taskForm">
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Title</mat-label>
            <input matInput
                [type]="'text'"
                formControlName="title">
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Description</mat-label>
            <input matInput 
                [type]="'text'"
                formControlName="description">
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Story points</mat-label>
            <input matInput
                [type]="'number'"
                [min]="1"
                formControlName="storyPoints">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Select an option</mat-label>
            <mat-select [(value)]="selected">
            <mat-option value=0>Low</mat-option>
            <mat-option value=1>Medium</mat-option>
            <mat-option value=2>High</mat-option>
            <mat-option value=3>Critical</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <div class="form-options-butttons">
        <div>
            <button mat-stroked-button (click)="discard()">
                CANCEL
            </button>
        </div>
        <div class="save-button">
            <button mat-stroked-button
                (click)="submitTaskForm()"
                [disabled]="taskForm.pristine">
                SAVE
            </button>
        </div>
    </div>
</div>