.sidenav-container {
  height: 100%;
  overflow: hidden;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.sidenav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
