<p>search-user works!</p>

<form class="example-form" [formGroup]="userListControl">
    <mat-form-field class="example-full-width">
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="userListControl"
             [matAutocomplete]="auto"
             #myInput>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                {{user.profile.displayName}} - {{user.email}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <button (click)="printFilteredResults()">Print result</button>


  <div *ngIf="myProject">
    <div *ngFor="let user of myProject">
        <span>
            <h4>{{user.username}}</h4>
            <h6>{{user.profile.displayName}}</h6>
            <h6>{{user.email}}</h6>
        </span>
  
    </div>
  </div>