<form [formGroup]="userListControl">
    <mat-form-field class="example-full-width">
        <mat-chip-list #chipList aria-label="Fruit selection">
            <mat-chip
              *ngFor="let user of selectedUsers"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(user)">
              {{user.profile.displayName}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input type="text"
            placeholder="Type an email"
            aria-label="Number"
            matInput
            [formControl]="userListControl"
            [matAutocomplete]="auto"
            #userInput>
          </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                {{user.profile.displayName}} - {{user.email}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>