<!-- <div [style.background]="'url(/images/' + trls.img + ')'"></div> -->
<div class="container">
    <!-- <div>
        <img style="opacity: 0.25;" src="../../assets/photo-background.png">
    </div> -->
    <div>
        <div style="justify-content: center;">
            <h1>
                Welcome to ProjectM!
            </h1>
        </div>
        <div>
            <h2>
                A simple tool for project management.
            </h2>
        </div>
        <div>
            <h3>
                Please login or sign-up to start using ProjectM tool.
            </h3>
        </div>
    </div>
</div>