<h2>Sprint list</h2>

<div class="container"> 
  <div>
    <form>
      <mat-form-field class="sprint-selector">
        <mat-label>Select sprint</mat-label>
        <mat-select [(value)]="selectedSprint" name="sprint" (selectionChange)="selected($event)">
          <mat-option *ngFor="let sprint of sprints" [value]="sprint">
            {{sprint.id}}. {{sprint.startDate}} - {{sprint.endDate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <div *ngIf="showActionsMenu()" class="button-container">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Toggle menu">
      <mat-icon
      class="material-icons md-36" aria-label="project icon">
      menu
      </mat-icon>
    </button>

    <mat-menu #menu="matMenu" xPosition="after">
      <button mat-menu-item (click)="enableCreateButton()">Add new sprint</button>
      <button mat-menu-item (click)="enableEditButton()">Edit selected</button>
    </mat-menu>
  </div>
</div>

<div *ngIf="viewCreateSprint">
  <app-sprint-create
    [project]="project.id"
    (sprintAdded)="onSprintAdded($event)"
    (discarded)="disableButtons()">
    
  </app-sprint-create>
</div>

<div *ngIf="viewEditSprint">
  <app-sprint-edit
    [sprint]="selectedSprint"
    (sprintSaved)="onSprintSaved($event)"
    (discarded)="disableButtons()">
    
  </app-sprint-edit>
</div>

<router-outlet></router-outlet>
