<div class="container"> 
  <div>
    <form>
      <mat-form-field class="sprint-selector">
        <mat-label>Select sprint</mat-label>
        <mat-select [(value)]="selectedSprint" name="food" (selectionChange)="selected($event)">
          <mat-option *ngFor="let sprint of sprints" [value]="sprint">
            {{sprint.id}}. {{sprint.startDate}} - {{sprint.endDate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <div *ngIf="allowCreateSprint()" class="button-container">
    <button mat-button (click)="showCreateSprint()">
      <mat-icon
      class="material-icons md-36" aria-label="project icon">
      add_circle
    </mat-icon>
    Add new
    </button>
  </div>

</div>

<div *ngIf="viewCreateSprint">
  <app-sprint-create>
    
  </app-sprint-create>
</div>

<router-outlet></router-outlet>
